/* Bao quanh giao diện login */
.login-page {
    /* background-image: var(--default-background-image);
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

/* Hộp đăng nhập */
.login-container {
    background-color: rgba(215, 254, 255, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 600px;
}

/* Tiêu đề */
.login-container h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: #000000;
    margin-bottom: 75px;
    font-weight: 300px;
}

/* Label */
.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    color: #555;
    padding-left: 20px;
}

/* Input */


/* Label */
.login-container label {
    color: #000000;
    font-size: 26px;
}

/* Button */
.login-container Button {
    width: 50%;
    height: 70px;
    padding: 10px;
    border-radius: 12px;
    font-size: 25px;
    transition: background-color 0.3s ease;
    margin-top: 50px;
}