.MainBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.MainBanner img {
  height: 400px;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.MainBanner img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}