.accessNewsPage_container {
  display: flex;
  justify-content: center;
  /* background-image: var(--default-background-image);
  background-size: cover;
  background-repeat: no-repeat; */
  padding: 40px;
  height: 100vh;
  
}

.tab-label {
  display: flex;
  justify-content: left;
  background-color: #ffff;
  font-size: 25px;
  padding: 10px;
}

.tab-menu {
  display: flex;
  justify-content: center;
  width: 1000px;
}

.tab-menu Button {
  width: 25%;
  border-top: solid 1px;
}

.item-card:hover,
.tab-menu Button:hover,
.tab-menu Button.active {
  background-color: rgba(255, 255, 255, 0.6);
  /* Màu nền khi được chọn */
  font-weight: bold;
  color: #333;
  /* Màu chữ nổi bật hơn */
}

.item-card {
  display: flex;
  width: 100%;
  margin-top: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}


.item-card img {
  width: 20%;
  height: 50%;
  padding: 10px;
}

.item-info {
  margin-left: 10%;
  font-size: 15px;
}

.status {
  font-weight: bold;
}

.approved.peding {
  color: orange;
}

.approved.accepted {
  color: green;
}

.approved.rejected {
  color: red;
}